/* =============================================================================
   $Breadcrumb
   ========================================================================== */

.breadcrumb {
  margin: rhythm(4/3) 0 rhythm(1);

  li{
    @include inline-block;
    padding-right: $w-normal;

    &:after{
      content: " / ";
    }
    &:last-child:after{
      content:"";
    }
    & a{
      padding-right: $w-small;
    }
  }
}
