/* =============================================================================
   $Contextual links
   ========================================================================== */

.contextual-links-region{

  ul.contextual-links {
    li{
      line-height: 100%;
      margin: 0;
      padding: 0;

      a{
        @include adjust-font-size-to(16px);
        display: block;
        font-family: $sans-serif;
        font-weight: normal;
      }
    }
  }

  a.contextual-links-trigger{
    display: none;
  }
  a.contextual-links-trigger-active{
    display: block;
  }

}
