/* =============================================================================
   $Form
   ========================================================================== */

$form-label-width : 26%;
$form-label-max-width : 10em;
$form-label-sep: 2%;
$form-border-color: $gray50;
$form-border-color-focus: $gray75;
$form-required-color: $red;
$form-divider-color: $gray75;
$form-input-width: 70%;
$form-input-max-width : 30em;


form{
  margin: rhythm(2/3) 0 rhythm(1);
  position: relative;
}

/*
 * Wrapper
 */

.form-wrapper,
.field-type-text,
.field-type-list-text,
.field-type-image{
  position:relative;
}

.form-item{
  margin-bottom: rhythm(1);

  .form-item{
    padding-bottom: rhythm(1/6);
  }
}

.container-inline{
  margin-bottom: rhythm(.5, 16px);
}


/*
 * Labels
 */

label{
  color: $text;
  display: block;
  font-family: $sans-serif-alt;
  font-weight: 600;
  width: 100%;

  &:hover{
    cursor: pointer;
  }

  [type="radio"]+ &,
  [type="checkbox"]+ &,
  .form-checkboxes &,
  .form-radios &{
    display: inline;
    font-weight: normal;
    padding-left: .3em;
    text-transform: none;
  }
}

//Form label required
.form-required{

  label:after{
    content:' *';
    color: $form-required-color;
  }
}


/*
 * Input
 */

input[type="text"],
input[type="email"],
input[type=number],
input[type="password"]{
  @include border-radius(3px);
  @include adjust-font-size-to($base);
  border: 1px solid $form-border-color;
  color: $gray50;
  outline: none;
  padding: rhythm(1/3) $w-normal;
  max-width: 100%;

  &:focus{
    border: 1px solid $form-border-color-focus;
    color: $gray25;
    outline: none;
  }

  &:disabled,
  &[disabled]{
    @include box-shadow(0 0 3px rgba(black, 0.4));
    background: $gray75;
    border:1px dashed $gray75;
    color: $gray75;
    font-style: italic;

    &::selection{
      color: $white;
    }
  }
}


/*
 * Textfield autocomplete
 */

html.js{
  input.form-autocomplete {
    background-image: url("../img/throbber.gif");
    background-position: 100% 11px;
    background-repeat: no-repeat;
    padding-right: gutter-span();
  }

  input.throbbing {
    background-position: 100% -24px; /* LTR */
  }
}


/*
 * Textarea
 */

.form-textarea-wrapper textarea,
textarea{
  @include adjust-font-size-to($small);
  @include border-radius(3px);
  padding: rhythm(1/6) $w-normal;
  border: 1px solid $form-border-color;
  color: $gray50;
  outline: none;
  width:95%;
  max-width: 100%;
  resize: vertical;

  &:focus{
    border: 1px solid $form-border-color-focus;
    color: $gray25;
    outline: none;
  }

  &:disabled,
  &[disabled]{
    @include box-shadow(0 0 3px rgba(black, 0.4));
    background: $gray75;
    border: 1px dashed $gray75;
    color: $gray75;
    font-style: italic;

    &::selection{
      color: $white;
    }
  }
}


/*
 * Checkboxes
 */

.form-checkboxes{
  margin-left: $w-big;

  .form-item{
    margin-bottom: 0;
  }
}
input[type="checkbox"]:disabled{
  opacity:0.5;
}


/*
 * Radios
 */

.form-radios{
  margin-left: $w-big;

  .form-item{
    margin-bottom: 0;
  }
}
input[type="radio"]:disabled{
  opacity:0.5;
}


/*
 * Select
 */

select{
  // background: transparent;
  // border:1px solid $form-border-color;
  // transition: all 1s;

  select:focus{
    background: $gray50;
    color:$link;
    border:1px solid $link;
    @include box-shadow(0 0 3px rgba($link, 0.7));
  }
}

select[multiple="multiple"]{
  @include border-radius(3px);
  border: 1px solid $form-border-color;
  color: $gray50;
  outline: none;
  transition: box-shadow 250ms;

  &:focus{
    border: 1px solid $link;
    color: $gray25;
    outline: none;
    @include box-shadow(0 0 3px rgba($link, 0.7));
  }

  &::selection{
    color: $white;
  }

}

/*
 * Form buttons
 */

.form-actions{
  margin-top: rhythm(1);
}

input[type=submit]{
  @include button;
  vertical-align: top;

 // @include breakpoint($g-small) {
    &+input[type=submit]{
      margin-left: $w-normal;
    }
 // }

}

#edit-submit{
  @include primary;
}

#edit-cancel{
  @include inline-block(middle);
  @include adjust-font-size-to($base);
  padding: rhythm(1/3) $w-normal;
  font-family: $sans-serif;
  margin-left: .5em;
}

#edit-delete{
  color: $red;
}

/*
 * Description
 */

.description{
  @include adjust-font-size-to($tiny);
  color: $gray75;
  max-width: 100%;
  text-align: left;
  width: auto;
}

/*
 * Fieldset
 */

fieldset{
  @include border-radius(3px);
  @include rhythm(2/3, 0, 0, 1);
  border: 1px solid $form-divider-color;
  margin: 0 0 rhythm(1) 0;
  padding-top: rhythm(1/3);
}
.fieldset-description{}

fieldset legend{
  color: $gray50;
  font-weight: bold;
  text-transform: uppercase;
}
fieldset legend a{
  display:block;
  margin: 0 $w-big;

  &:hover{
    text-decoration: none;
    color: currentColor;
  }
}
fieldset.collapsed legend a{}

html.js fieldset.collapsed{
  border-color: $form-divider-color;
  padding-bottom: rhythm(1);
  margin-bottom: rhythm(1/3);
}

/*
 * Vertical Tabs
 */

.vertical-tabs-panes{
  padding-top: rhythm(1);
}