.block-responsive-dropdown-menus{
  background: $white;
  margin-bottom: 0;
}


/**
* Menu toggle base styling
*/

.menu-toggle {
  cursor: pointer;
  display: block;
  margin: 0 gutter-span() rhythm(1);
  padding: rhythm(1) 0 0;
  position: relative;
  width: 36px;

  & .toggle-help {
    display: none;
  }
  & .line {
    display: block;
    height: 4px;
    width: 26px;
    margin: 5px auto 5px auto;
    background-color: $black;
  }
}

/**
 * Ensures in mobile our menus stack
 */

.responsive-menu,
.responsive-menu.links.inline {
  max-height: 0;
  overflow:hidden;
  }
  .responsive-menu.menu-toggled,
  .responsive-menu.links.inline.menu-toggled {
    max-height: none;
  }
.responsive-menu li,
.responsive-menu.inline li {
  position: relative;
  display: block;
}

/**
 * Default media query
 */

@include breakpoint($g-small) {
  .block-responsive-dropdown-menus{
    background: none;
    margin-bottom: rhythm(1);
  }

  .menu-toggle {
    display: none;
  }
  .responsive-menu,
  .responsive-menu.links.inline {
    max-height: none;
    overflow: visible;
  }
  .responsive-menu li {
    display: inherit;
  }
  .responsive-menu.inline li {
    display: inline-block;
  }
  .responsive-menu .sub-menu {
    position: absolute;
    z-index: 100;
    max-height: 0;
    overflow: hidden;
  }
  /* Display does not animate, max-height does. Max-weight will not animate from 0 - none, so default 900px added.
      if your sub menu goes past 900px, well..uhh.. */
  .responsive-menu .sub-menu.active {
    max-height: none;
    overflow: visible;
  }
  /* Chances are your submenu should stack...if not override this. */
  .responsive-menu .sub-menu li {
    display: block;
  }
}