/* =============================================================================
   $Drupal Messages
   ========================================================================== */

.messages {
  @include border-radius(3px);
  @include hyphenation;
  font-family: $sans-serif;
  @include adjust-font-size-to(16px);

  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  color: #31708f;
  padding: 1em;
  margin-bottom: rhythm(1);

  li{
    margin: 0 0 1 1.5rem;
  }

  &.status {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }

  &.warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
  }

  &.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }

  ul{
    margin: 0 0 0 1em; /* LTR */
    padding: 0;

    li{
      list-style-image: none;
    }
  }
}