/* =============================================================================
   $Pager
   ========================================================================== */

.pager{
  text-align: center;
  padding: 0 gutter-span();
  width: 100%;

  li{
    @include inline-block(middle);
    margin-left: $w-small;
    margin: 1px;
    padding: 0;
  }
  .current{
    color: $text;
  }
  a{
    @include inline-block(middle);
    color: $link;
    text-decoration: none;

    &:hover{
      color: $link-hover;
    }
  }
}

.pager-first,
.pager-previous,
.pager-next,
.pager-last{ }

.pager-ellipsis{
  color: $gray50;
}