/* =============================================================================
   $Search / @TODO
   ========================================================================== */

/* ----- Search block ----- */

[role="banner"]{
  .block-search{
    line-height: 20px;

    @include breakpoint($g-medium, $no-query: '.oldie') {
      margin: 0;
      float: left;
    }

    input{
      /* the webkit overrides need to stay at the top */
      -webkit-appearance: textfield;
    }
   .form-item{
      position: relative;
      display: block;
      margin: 0;
    }
    label{
      background: url(../img/icns/icns-header.png) no-repeat -194px 0;
      position: absolute;
      clip: auto;
      width: 12px;
      height: 12px;
      bottom: 50%;
      left: 5px;
      margin: 0;
      margin-bottom: -6px;
      padding: 0;
      border: none;
      text-indent: -9999px;
      cursor: pointer;

      @include breakpoint($g-medium, $no-query: '.oldie') {
        left: 0;
      }
    }
    .form-item input{
      color: #cacaca;
      font: 600 12px 'Open Sans', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Luxi Sans', Arial, sans-serif;
      margin: 0;
      padding-left: 20px;
      text-transform: uppercase;
      width: 100%;

      outline: none;

      /* prevent webkit apparence on iPad */
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      border-radius: 0;

      -webkit-transition: width 100ms ease-in-out;
      -moz-transition: width 100ms ease-in-out;
      -ms-transition: width 100ms ease-in-out;
      -o-transition: width 100ms ease-in-out;
      transition: width 100ms ease-in-out;

      @include breakpoint($g-medium, $no-query: '.oldie') {
        margin: 3px 0 0 14px;
        padding: .286em .643em .214em;
        height: 22px;
        border: none;
        border-bottom: 1px solid #333;
        width: 144px;
      }
    }
    .form-actions{
      display: none;
    }
  }
}

  .lt-ie8 form#search-block-form .form-type-textfield input,
  form#search-block-form input:focus,
  form#search-block-form input.filled{
    @include breakpoint($g-medium, $no-query: '.oldie') {

    }
  }
    form#search-block-form input:focus{
      color: #111;
    }



/* ----- Search form ----- */

.search-form .form-submit::-moz-focus-inner,
form#search-block-form .form-actions .form-submit::-moz-focus-inner /* Firefox 3.6x */{
  padding: 0;
  background: none;
  outline: none;
  border: none;
  font-size: 0.688em;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: none;
  border: none;
}
  .lt-ie9 form#search-block-form .form-actions .form-submit{
    border: none;
    background: none;
  }




/* ----- Search page ----- */

.container-inline label[for="edit-keys"]{
  display: block;
  margin-bottom: 10px;
  font-size: 0.813em;
}

.page-search .block-system > h2{
  padding-bottom: 10px;
  margin-top: 40px;
  border-bottom: 1px dotted #111;
  font-size: 1.250em;
}

.search-results .title {
  margin-top: 30px;
  font-size: 0.938em;
}
.search-results .search-info,
.search-results .search-info a{
  color: #323232;
}


/*
 * Search results
 */

.search-results{
  article{
    @include outter-rhythm();
  }
}

