/* =============================================================================
   $Drupal tabs
   ========================================================================== */

nav.tabs{
  margin: rhythm(4/3) 0 rhythm(1);
}

ul.tabs{
  @include border-radius(3px);
  border: 1px solid $gray75;
  list-style: none;
  padding-left: 0;
  white-space: normal;

  li{
    padding:0;

    &+li{
      border-top: 1px solid $gray75;
    }

    &:first-child a{
      @include border-top-radius(3px);
    }
    &:last-child a{
      @include border-bottom-radius(3px);
    }
  }

  a{
    color: $link;
    display: block;
    margin: 0;
    padding: .5em;

    &.active{
      background: $link;
      color: $white;
      border-color: $link;

      &:hover{
        background: $link;
      }
    }

    &:after{
      float: right;
      content: ">";
      font-weight: bold;
    }

    &:hover{
      background: #f5f5f5;

      &:after{
        text-decoration: none;
      }
    }
  }

  // &.primary{
  // }

  &.secondary{
  }

  @include breakpoint($g-medium, $no-query: '.oldie') {
    border: none;
    border-bottom: 1px solid $gray75;

    li{
      border: none;
      display: inline;

      a{
        &:first-child,
        &:last-child{
          @include border-top-radius(3px);
          @include border-bottom-radius(0);
        }
      }
    }

    a{
      @include inline-block;
      background: $gray75;
      color: $white;
      text-decoration: none;

      &:hover{
        background: $link;
        color: $white;
      }
      &:after{
        content: none;
      }
    }

  }
}

