/* =============================================================================
   $Table
   ========================================================================== */

/*
 * Colors
 */

$table-headerbg: #ddd;
$table-headerbg-odd: #efefef;
$table-headerbg-hover: #ddd;

$table-rowbg: #f5f5f5;
$table-rowbg-hover: #f4f4f4;
$table-row-odd: #fafafa;
$table-row-odd-hover: #f4f4f4;

$table-row-border-color: #ddd;
$table-cell-border-color: #f4f4f4;

$table-drag-bg: yellow;
$table-dragprevius-bg: pink;

/**
 * Table
 */

// On smaller screens, thead is inlined with rows
// Inspired from : http://dbushell.com/2012/01/05/responsive-tables-2/

table{
  border: 1px solid $table-row-border-color;
  border-collapse: collapse;
  display: block;
  margin: 0 0 rhythm(1);
  padding: 0;
  // max-width:100%;
  // overflow-x: scroll;
  width:100%;

  caption{
    @include outter-rhythm(small);
    display: table-caption;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
}

thead{
  display:block;
  float:left;
}

tbody{
  display: block;
  width: auto;
  overflow-x: auto;
  position: relative;
  white-space: nowrap;

  & tr{
    @include inline-block(top);
    cursor: ew-resize;

    &.odd,
    &:nth-of-type(odd){
      background: $table-rowbg;
    }
  }
}

th,td{
  // border-bottom: 1px solid $table-cell-border-color;
  border-right: 1px solid $table-cell-border-color;
  padding: rhythm(1/3) $w-normal;
  vertical-align: bottom;

  display: block;
  text-align:left;
}

th{
  background:$table-headerbg;
  border-right:2px solid darken($table-cell-border-color, 20%);
  text-transform: none;

  &.odd,
  &:nth-of-type(odd){
    background:$table-headerbg-odd;
  }
}

// Display table as a normal one, thead above
@include breakpoint($g-big){
  table{
    border: none;
    display: table;
  }
  thead{
    display: table-row-group;
    float: none;
    border-bottom: 3px solid $brand_color_1;
  }
  tbody{
    display: table-row-group;
    overflow-x: auto;
    white-space: normal;
    width: auto;

    & tr{
      display: table-row;
      cursor: auto;
    }
  }
  th,td{
    border-right: none;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    // min-width: 6em;
  }
  th+th,
  td+td{
    // border: none;
  }
  th{
    @include adjust-font-size-to($small);
    // background: $table-headerbg;
    background: none;
    border-right: none;
    font-weight:bold;
    text-transform: uppercase;
    color: $text;

    a{
      color: currentColor;
    }

    &.odd,
    &:nth-of-type(odd){
      // background:$table-headerbg-odd;
      background: none;
    }
  }
}

/**
 * Sticky header
 */

table.sticky-header {
  background-color: $table-headerbg;
  border: none;
  display: none;
  margin-top: 0;
  width: 100%;

  thead{
    display: table;
    width: 100%;
  }

}

@include breakpoint($g-big){
  table.sticky-header {
    display: block;
  }
}