//
// Image replacement
// Kellum Method: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement
// Additional helpers from http://html5boilerplate.com/docs/css/
// This is also included as a SASS mixin, see: sass/custom.rb
// see also http://css-tricks.com/examples/ImageReplacement/
//
@mixin ir {
  // Kellum Method
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  // Additional helpers
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent; // Hide the default background color on elements like <button>
}
//
// Image replacement
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
@mixin hide-text() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

//
// element-invisible improved and more robust
//
@mixin element-invisible {
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax
  }
  clip: rect(1px, 1px, 1px, 1px);
}

//
// The word "Unpublished" displayed underneath unpublished nodes and comments
//
@mixin unpublished {
  color: pink; // target browsers that do not support rgba
  color: rgba(239, 170, 170, 0.4);
  font-family: $impact;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    .ie6-7 &>* {
      position: relative; // Otherwise these elements will appear below the "Unpublished" text.
    }
  }
}

//
// Hyphenation
//
@mixin hyphens($mode: auto) {
  word-wrap: break-word;
  -webkit-hyphens: $mode;
     -moz-hyphens: $mode;
      -ms-hyphens: $mode;
       -o-hyphens: $mode;
          hyphens: $mode;
}

//
// Text overflow
//
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//
// No select
//
@mixin no-select() {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

//
// Define the vertical rhythm of an element
//
@mixin outter-rhythm($var: auto) {
  @if $var == tiny {
    margin-top: rhythm(2/3);
    margin-bottom: rhythm(1/6);
  } @elseif $var == small {
    margin-top: rhythm(1/3);
    margin-bottom: rhythm(1);
  } @else {
    margin-top: rhythm(2/3);
    margin-bottom: rhythm(3/2);
  }
}

// CSS3 Content Columns
@mixin content-columns($columnCount, $columnGap: gutter-span()) {
  @include column-count($columnCount);
  @include column-gap($columnGap);
}

//
// Transition
//
@mixin transition($property, $duration, $easing) {
  @include transition-property($property);
  @include transition-duration($duration);
  @include transition-timing-function($easing);
}

//
// Buttons
//
@mixin button{
  @include inline-block(middle);
  @include border-radius(3px);
  @include adjust-font-size-to($base);
  padding: rhythm(1/3) $w-normal;
  border: 1px solid transparent; // add this to fit the same input heights

  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  word-break: keep-all;
  outline: none;

  font-family: $sans-serif-alt;
  color: $white;
  background-color: $link;

  @include transition(background-color color, 125ms, ease-in);
  @include no-select;

  &:hover{
    background-color: $link-hover;
    text-decoration: none;
  }
  &:focus{
    border-color: $link; // add this to fit the same input heights
    background-color: $link-hover;
  }
}

@mixin primary{
  background-color: $link;

  &:hover{
    background-color: lighten($link, 5%);
  }
}

@mixin secondary{
  @include background-image(linear-gradient(lighten($brand_color_2, 25%), $brand_color_2 80%, lighten($brand_color_2, 10%)));
  border: 1px solid #4994bf;
  color: $white;

  &:hover{
    border-color: $brand_color_3;
    color: $brand_color_3;
    text-decoration: none;
  }
  &:focus{
    border: 2px dotted $link;
  }
}

@mixin button-big{
  padding: $w-small $w-big;
}

@mixin more-link{
  text-transform: uppercase;
  text-decoration: underline;
}

//
// Background image with SVG/PNG Fallback
// --------------------------------------------------------
// source: http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
// there is no gestion of retina @2x images
//
$image-path: '../img' !default;
$fallback-extension: 'png' !default;

@mixin svg-bg($name, $args: no-repeat 0 0, $color: false, $size:false){
  @if($color){
    background: url(#{$image-path}/#{$name}.svg) $color $args;
  } @else {
    background: url(#{$image-path}/#{$name}.svg) $args;
  }

  @if($size){
    @include background-size($size);
  }

  .no-svg &{
    background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});
  }
}

// Arrows
// --------------------------------------------------------
// $direction: top, left, right, bottom, top-left, top-right, bottom-left, bottom-right
// $color: hex, rgb or rbga
// $size: px or em
// @example
// .element{
//     @include arrow(top, #000, 50px);
// }
@mixin arrow($direction, $color, $size){
    display: block;
    height: 0;
    width: 0;

    @if $direction == 'top' {
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      border-bottom: $size solid $color;
    } @else if $direction == 'right' {
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-left: $size solid $color;
    } @else if $direction == 'bottom' {
      border-top: $size solid $color;
      border-right: $size solid transparent;
      border-left: $size solid transparent;
    } @else if $direction == 'left' {
       border-top: $size solid transparent;
      border-right: $size solid $color;
      border-bottom: $size solid transparent;
    } @else if $direction == 'top-left' {
      border-top: $size solid $color;
      border-right: $size solid transparent;
    } @else if $direction == 'top-right' {
      border-top: $size solid $color;
      border-left: $size solid transparent;
    } @else if $direction == 'bottom-left' {
      border-bottom: $size solid $color;
      border-right: $size solid transparent;
    } @else if $direction == 'bottom-right' {
      border-bottom: $size solid $color;
      border-left: $size solid transparent;
    }
}

//
// Alpha colors with fallback
// --------------------------------------------------------
// source: http://thesassway.com/intermediate/mixins-for-semi-transparent-colors
@mixin transp($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}