//
// Custom sass variables and mixins
//

//------------------------------------------------
//typography
//------------------------------------------------

// http://www.zell-weekeat.com/compass-vertical-rhythm/
// http://atendesigngroup.com/blog/vertical-rhythm-compass
// Vrythm settings / credits: https://medium.com/p/8e51498c3713

// Compass Vertical Rhythm Settings
$base-font-size: 16px; // Sets the base font size
$base-line-height: 24px; // Sets the base line height

$round-to-nearest-half-line: true; // Allows compass to round to  multiples of 0.5x line height
$rhythm-unit: "rem"; // Sets rhythm unit to rem. Remove to use default em unit.
// $rem-with-px-fallback: false;

// TIP: use this to define elements rythm
// padding: rhythm(1) auto rhythm(2, 14px);
// @include rhythm(3, 1, 0, 2, 42px);

$sans-serif          : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans-serif-alt     : "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
$serif                : Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$monospace          : Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

// Font sizes
$xxlarge: 36px; // h1
$xlarge: 32px;  // h2
$large: 24px;   // h3
$medium: 21px;  // h4
$base: 16px;    // h5, p, ul
$small: 14px;   // h6, small
$tiny: 12px;

//------------------------------------------------
//colors
//------------------------------------------------

// brand colors
$brand_color_1 : #532994;
$brand_color_2 : #220c45;
$brand_color_3 : #d39606;
$brand_color_4 : #cdc7d9;

$page   : #f2f2f2;    // to match the page background, default is white
$border : #ebebeb;    // borders
$text   : #222;       // paragraphs
$link    : royalblue;    // links
$link-hover    : steelblue;
$link-visited : mediumpurple;
$selectioncolor-bg : lightblue;
$selectioncolor : lightyellow;
$red    : #Dd0000;    // nice red
$debug  : rgba(255, 192, 203, 0.5); // Full width wrapper test

//grays
$black  : #000;
$gray25 : lighten($black, 25%);
$gray50 : lighten($black, 50%);
$gray75 : lighten($black, 75%);
$gray90 : lighten($black, 90%);
$white  : #fefefe;

//------------------------------------------------
// layout
//------------------------------------------------

// Define consistent horizontal spaces
// For columns width, use, e.g.:
// margin: 0 gutter-span();

// Custom horizontal spaces
$w-small: .25em;
$w-normal: .5em;
$w-big: 1em;
$w-biggest: 1.5em;

// grid values
$g-small: 480px;
$g-medium: 769px;
$g-big: 1100px;
