/* =============================================================================
   $icons
   ========================================================================== */

// ----- Imports & generate the sprites ------
@import "icn/*.png";
@include all-icn-sprites;

// ----- Manually set the size of each images ------

[class*="icn-"]{
  @include inline-block(middle);
  @extend .hide-text;
}

.icn-fb,
.icn-yt,
.icn-tw{
  height: 26px;
  width: 26px;
}

.icn-sun{
  @include svg-bg('icn-sun', no-repeat left top, $size: 100% 100%);
  vertical-align: initial;
  height: 20px;
  width: 20px;
}
.icn-house{
  @include svg-bg('icn-house', no-repeat left top, $size: 100% 100%);
  vertical-align: initial;
  height: 20px;
  width: 20px;
}