/* =============================================================================
   $Typography
   ========================================================================== */

@include establish-baseline;

h1,h2, h3, h4, h5, h6{
  @include outter-rhythm(tiny);
  color: $text;
  font-weight: normal;
  font-family: $serif;
  font-weight: 600;

  &:first-child,
  .contextual-links-wrapper + &{
    margin-top: 0;
  }

  a:link{
    color: $text;
  }
  a:hover{
    text-decoration: none;
  }
}

h1, .h1-like{
  @include adjust-font-size-to($xxlarge, 1.5);
}
h2, .h2-like{
  @include adjust-font-size-to($xlarge);
}
h3, .h3-like{
  @include adjust-font-size-to($large, 1.25);
}
h4, .h4-like{
  @include adjust-font-size-to($medium, 1.25);
}
h5, .h5-like{
  @include adjust-font-size-to($base);
}
h6, .h6-like{
  @include adjust-font-size-to($small);
}

/*
 * HTML elements
 */

p, ul, ol, dl, blockquote, pre{
  margin-bottom: rhythm(2/3);

  &:first-child{
    margin-top: 0;
  }
}

.small,
small{
  @include adjust-font-size-to($tiny);
}

/*
 * Quotes
 */
blockquote{
  border-left: 2px solid $brand_color_2;
  color: $brand_color_2;
  font-style: italic;
  margin-left: $w-biggest;
  margin-right: 0;
  padding-left: $w-big;
}

q{
  font-style: italic;
}

/*
 * Code
 */
code, pre, samp {
  white-space: pre-wrap;
  font-family: $monospace;
}

code{
  @include adjust-leading-to(1);
}

/*
 * Lists
 */
ul{
  padding-left: $w-big;

  & li.expanded,
  & li.collapsed{
    list-style-image: none;
  }
}

.nice-list{
  list-style: none;

  li{
    text-indent: -.7em;
    margin-bottom: rhythm(1/2);

    &:before {
      content: "• ";
      color: $brand_color_3;
    }
  }
}

/*
 * Links
 */
a{
  @include hyphens;
  @include transition(color, 80ms, ease-in);
  color: $link;
  text-decoration: none;

  &:hover{
    color: $link-hover;
    text-decoration: underline;
  }
  &:visited{
    color: $link-visited;
  }
}

.more-link,
.node-readmore{
  a{
    @include button;
  }
}

.action-links{
  li{
    list-style: none;
  }
  a{
    @include button;
  }
}

.edit-node{
  display: block;
  text-align: right;
  clear: both;
}

/*
 * Selection colors
 */
// -- Selection colors
::-moz-selection { background: $selectioncolor-bg; color: $selectioncolor;}
::selection      { background: $selectioncolor-bg; color: $selectioncolor;}

// -- placeholder colors @todo:move to forms
:-moz-placeholder { color: #ccc;}
::-webkit-input-placeholder { color: #ccc;}
