/* =============================================================================
   $Custom blocks
   ========================================================================== */

/*
 * Social networks
 */

.social-networks{
  margin: 0;
  padding-left: 0;
}

/*
 * Application teaser
 */

.application-teaser{
  .img-wrapper{
    position: relative;

    &:before{
      bottom: 0;
      content: '';
      height: 40px;
      left: 0;
      right: 0;
      position: absolute;
      width: 70%;
      margin: 0 auto;
      @include box-shadow(rgba($black, .18) 0 10px 55px);
      @include transition-property(box-shadow, width);
      @include transition-duration(125ms);
    }

    &:hover{
      img{
        @include transform(translate(0, 0));
        @include box-shadow(rgba($brand_color_1, .15) 0 0 5px);
      }
      &:before{
        @include box-shadow(rgba($black, .15) 0 25px 45px);
        width: 60%;
      }
    }
  }

  img{
    @include transform(translate(0, 10px));
    @include transition-property(transform, box-shadow);
    @include transition-duration(125ms);
    position: relative;
  }

  @include breakpoint($g-medium, $no-query: '.oldie') {
    .img-wrapper{
      float: left;
      margin-bottom: rhythm(1);
    }

    img{
    }

    ul{
      padding-top: rhythm(1);
      padding-left: 404px;
    }

    .btn{
      margin-left: gutter-span()*2;
    }
  }
}

/*
 * Hospitality teaser
 */

.hospitality-teaser{
  text-align: center;

  h2{
    font-weight: 500;
    margin-top: 0;
  }

  article{
    text-align: left;
    margin-bottom: rhythm(1);

    &:before{
      background: url("../img/icn-corp-boxes.png") no-repeat left top;
      display: block;
      content: " ";
      margin-bottom: rhythm(1);
      height: 101px;
      width: 100px;
    }

    img{
      display: none;
    }

    &+article{
      // background: url("../img/icn-businesses.png") no-repeat left rhythm(1);
      border-top: 4px double $gray90;

      &:before{
        // a little bit hard coded
        background-image: url("../img/icn-businesses.png");
        margin-top: rhythm(1);
      }

      &+article{
        &:before{
          background-image: url("../img/icn-outdoor-vip.png");
        }
      }
    }
  }

  @include breakpoint($g-big, $no-query: '.oldie') {
    padding: rhythm(1) 0 250px;
    position: relative;

    .box--title{
      &:before{
        left: -1px;
      }
      &:after{
        right: -1px;
      }
    }

    article{
      @include inline-block(top);
      padding-left: gutter-span();
      padding-right: gutter-span();
      margin-bottom: 0;
      width: 33%;

      &:before{
        position: absolute;
        bottom: 0;
        margin-bottom: rhythm(2.5);
        margin-left: 109px;
        left: 0;
        z-index: 10;
      }

      p{
        margin-right: $w-big;
      }

      img{
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        width: 33%;
      }

      &+article{
        border-top: none;
        padding-top: 0;
      }
    }
    article + article{
      img,
      &:before{
        left: 323px;
      }
    }
    article + article + article{
      img{
        left: auto;
        right: 0;
      }
      &:before{
        left: 646px;
      }
    }

  }
}

/*
 * Catering teaser
 */

.catering-teaser{
  text-align: center;
  overflow: hidden;
  padding-bottom: 220px;
  position: relative;

  img{
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    max-width: none;
  }

  .more-link{
    margin-left: gutter-span();
  }

  @include breakpoint($g-medium, $no-query: '.oldie') {

    p{
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}


/*
 * Contact Form
 */

.contact-form{
  .fieldset-wrapper{
    padding: 0;
  }

  .webform-component-fieldset{
    border: 0;
    margin: 0;
    padding: 0;

    .form-item{

      @include breakpoint($g-medium, $no-query: '.oldie') {
        @include inline-block(top);
      }

      input,
      textarea{
        width: 100%;
      }
    }

    @include breakpoint($g-medium, $no-query: '.oldie') {
      .webform-component-email{
        margin: 0 2%;
        width: 47%;
      }
      .webform-component-textfield{
        width: 24%;
      }
    }

    .webform-component-textarea{
      width: 100%;

      @include breakpoint($g-medium, $no-query: '.oldie') {
        margin-left: 0;
      }
    }

  }
    label{
      display: block;
      margin-right: 0;
      margin-left: $w-normal;
      width: 100%;
    }
}
  .contact-form--intro{
    @include adjust-font-size-to($medium);
    text-align: center;
  }