/* =============================================================================
   $Navigation
   ========================================================================== */

/*
 * Naver v3.0.8 - 2014-05-06
 * A jQuery plugin for responsive navigation. Part of the Formstone Library.
 * http://formstone.it/naver/
 *
 * Copyright 2014 Ben Plum; MIT Licensed
 */
/*
.naver{
  .naver-handle {
    @include breakpoint($g-medium) {
      display: none;
    }
  }
  .naver-handle:before {
    @include adjust-font-size-to($small);
    color: $white;
  }
  .naver-wrapper{
    @include transition-property(height);
    @include transition-duration(250ms);
    @include transition-timing-function(ease-out);
    background: $brand_color_1;
    height: auto;
    top: 100%;
    z-index: 10;

    @include breakpoint($g-medium) {
      background: none;
    }
  }
  .naver-container ul{
    padding-left: 0;
    margin: 0;
  }

  .naver-container:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }

  &.open{
    .naver-wrapper{
      @include box-shadow(rgba($black, 0.2) 0 3px 3px);
      border-bottom: 1px solid darken($brand_color_2, 10%);
      border-top: 1px solid $brand_color_2;

      @include breakpoint($g-medium) {
        box-shadow: none;
        border: none;
      }
    }
  }

  &.enabled{
    .naver-handle{
      display: block;
      left: gutter-span();
      position: absolute;
      bottom: rhythm(2/3);
    }
    .naver-wrapper{
      height: 0px;
      left: 0;
      overflow: hidden;
      position: absolute;
      text-align: left;
      width: 100%;
    }
  }
}
*/

/*
 * Main nav
 */

.main-menu{
  li{
    display: block;
  }
  a{
    @include adjust-font-size-to($medium, 2);
    display: block;
    padding: rhythm(1/3) gutter-span();

    &.active{
      color: $link;
    }
  }

  @include breakpoint($g-medium) {
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 20;
    margin-left: gutter-span();

    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li{
      display: inline;

      &+li{
        margin-left: $w-big;
      }
    }
    a{
      @include adjust-font-size-to(17px);
      display: inline;
      margin-top: 0;
      padding: 0;
    }
  }
}

/*
 * Langswitch
 */

.language-switcher-locale-url{
}

/*
 * User menu
 */

.user-menu{
}

// use responsive_dropdown_menus semantic
.responsive-menu{
  @include adjust-font-size-to(22px);
  margin: 0;
  padding: 0 gutter-span();

  a{
    color: $brand_color_1;
    font-weight: bold;
    text-transform: uppercase;
  }

  @include breakpoint($g-medium) {
    padding: 0;
  }

  @include breakpoint($g-small) {
    a{
      color: $white;
    }

    // All first level links
    & > li{
      @include inline-block(top);

      &+li{
        margin-left: $w-big;
      }

      & > a{
        border-top: 4px solid transparent;

        &.active,
        &:hover{
          background: transparent;
          border-top: 4px solid $brand_color_1;
          color: $brand_color_1;
          text-decoration: none;
        }
      }
    }

    // Has child menu
    .menu-parent > a{
      &:after{
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 3px solid $white;
        content: "";
        display: block;
        height: 0;
        margin-right: -10px;
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
      }
      &.active:after,
      &:hover:after{
        border-top-color: $brand_color_1;
      }
    }

    // Submenu
    .sub-menu{
      @include box-shadow(rgba($black, 0.4) 4px 6px 0 0);
      background-color: $brand_color_1;
      margin: 0 0 0 (-gutter-span());

      &.active{
        overflow: visible;
        padding: rhythm(1/3) 0;
      }

      &:after{
        @include arrow(top, $brand_color_1, 7px);
        content: "";
        position: absolute;
        top: -7px;
        left: 30px;
        visibility: visible;
      }

      li{
        min-width: 11.5em;
      }

      a{
        @include adjust-font-size-to($base, 1/3);
        padding: rhythm(1/3) gutter-span();

        &:hover{
          text-decoration: none;
          color: $brand_color_3;
        }
      }
    }

  }

}