/* =============================================================================
   $Custom pages - Public
   ========================================================================== */

.page-intro{
  @include breakpoint($g-small) {
    @include column-count(2);
    @include column-gap(gutter-span());
  }
}

.box-content{
  ul{
    @extend .nice-list;

    div{
      display: inline;
    }
  }
}

/*
 * Hospitality
 */

.page-public-hospitality .main-content--inner{
  padding: 0;
}
.page-public-hospitality .main-content--inner .block{
  margin-bottom: 0;
}

.corporate-boxes{
  @include clearfix;
  background: $brand_color_2 url("../img/bg-corporate-boxes.jpg") no-repeat center bottom;
  color: $white;
  padding: rhythm(1) gutter-span();
  position: relative;

  &:before{
    background: url("../img/icn-corp-boxes.png") no-repeat -100% top;
    content: " ";
    display: block;
    height: 101px;
    left: gutter-span()*2;
    top: rhythm(5);
    width: 100px;
    margin: 0 auto;

    @include breakpoint($g-big, $no-query: '.oldie') {
      position: absolute;
    }
  }

  .box-content{
    div{
      margin-bottom: rhythm(1);
    }

    @include breakpoint($g-medium) {
      @include grid-span(7, 1);
    }
    @include breakpoint($g-big, $no-query: '.oldie') {
      @include grid-span(6, 3);
      @include column-count(2);
      @include column-gap(gutter-span());
    }
  }

  aside{
    background: url("../img/bg-hosp-aside.png") no-repeat left top;
    padding-left: gutter-span();
    padding-top: rhythm(1);
    margin-top: rhythm(1);
    margin-bottom: rhythm(2);

    ul{
      margin-bottom: rhythm(1);
    }
    li{
      margin-bottom: rhythm(1/2);
    }

    @include breakpoint($g-medium) {
      @include grid-span(5, 8);
      margin-top: 0;
    }
    @include breakpoint($g-big, $no-query: '.oldie') {
      @include grid-span(4, 9);
    }
  }

  footer{
    clear: both;
    text-align: center;
    margin-top: rhythm(1);
    width: 100%;
  }

  h1,h2,h3{
    color: $white;
  }

  .pdf-link{
    color: $white;
    .icn-pdf{
      background-position: left top;
    }
  }

}

.business-seats{
  @include clearfix;
  background: url("../img/bg-hosp-busi.png") no-repeat left 5em;
  padding: rhythm(1) gutter-span();
  position: relative;

  &:before{
    background: url("../img/icn-businesses.png") no-repeat -100% top;
    content: " ";
    display: block;
    height: 101px;
    left: gutter-span()*2;
    top: rhythm(5);
    width: 100px;
    margin: 0 auto;

    @include breakpoint($g-big, $no-query: '.oldie') {
      position: absolute;
    }
  }

  .box-content{
    margin-bottom: rhythm(2);

    div{
      margin-bottom: rhythm(1);
    }

    @include breakpoint($g-medium) {
      @include grid-span(7, 1);
    }
    @include breakpoint($g-big, $no-query: '.oldie') {
      @include grid-span(5, 3);
    }
  }

  aside{
    background: url("../img/bg-hosp-busi-aside.png") no-repeat left top;
    padding-left: gutter-span();
    padding-top: rhythm(1);
    margin-top: rhythm(1);
    margin-bottom: rhythm(2);

    ul{
      color: $gray50;
      margin-bottom: rhythm(1);
    }
    li{
      margin-bottom: rhythm(1/2);
    }

    @include breakpoint($g-medium) {
      @include grid-span(5, 8);
      margin-top: 0;
    }
    @include breakpoint($g-big, $no-query: '.oldie') {
      @include grid-span(5, 8, $options: 'left');
    }
  }

}

.business-seats--detail{
  @include clearfix;
  clear: both;

  h2 i{
    margin-right: $w-small;
  }

  @include breakpoint($g-big, $no-query: '.oldie') {
    margin-bottom: rhythm(3);
  }

  .open{
    @include breakpoint($g-medium) {
      @include grid-span(12, 1);
    }
    @include breakpoint($g-big, $no-query: '.oldie') {
      @include grid-span(4, 1);
    }
  }
  .indoor{
    @include breakpoint($g-medium) {
      @include grid-span(12, 1);
    }
    @include breakpoint($g-big, $no-query: '.oldie') {
      @include grid-span(8, 5);
    }

  }
}

  .business-seats--detail-tribune{
    margin-bottom: rhythm(3/2);

    @include breakpoint($g-big) {
      float: left;

      h3{
        margin-top: rhythm(1/2);
      }
    }

    .indoor &{
      @include breakpoint($g-big, $no-query: '.oldie') {
        @include layout(8) {
          @include grid-span(4, 1);

          & + .business-seats--detail-tribune{
            @include grid-span(4, 5);
          }
        }
      }
    }

  }

  .business-seats--detail-tribune-descr{
    margin-bottom: rhythm(1/2);

    @include breakpoint($g-big, $no-query: '.oldie') {
      min-height: 12em;
    }
  }

.outdoor-vip{
  @include clearfix;
  background: url("../img/bg-hosp-vip.png") no-repeat bottom center;
  color: $white;
  padding: rhythm(1) gutter-span();
  position: relative;

  &:before{
    background: url("../img/icn-outdoor-vip.png") no-repeat -100% top;
    content: " ";
    display: block;
    height: 101px;
    left: gutter-span()*2;
    top: rhythm(5);
    width: 100px;
    margin: 0 auto;

    @include breakpoint($g-big, $no-query: '.oldie') {
      position: absolute;
    }
  }

  h1,h2,h3{
    color: $white;
  }

  .box-content{
    margin-bottom: rhythm(2);

    @include breakpoint($g-medium) {
      @include grid-span(12, 1);
      @include column-count(2);
      @include column-gap(gutter-span());
    }
    @include breakpoint($g-big, $no-query: '.oldie') {
      @include grid-span(10, 3);
    }
  }
}


/*
 * Catering
 */

.catering-intro--footer{
  border-top: 1px solid $gray90;
  text-align: center;
  padding-top: rhythm(1);
  margin-top: rhythm(1);

  p{
    margin-bottom: 0;
  }
}

.catering--boxes{
  @include breakpoint($g-medium, $no-query: '.oldie') {
    figure{
      float: left;
      margin-right: gutter-span()*2;
    }
  }
}

.catering--trib-list{
  article{
    text-align: left;
    margin-bottom: rhythm(2);
  }

  @include breakpoint($g-big, $no-query: '.oldie') {
    article{
      @include inline-block(top);
      padding-top: 145px;
      position: relative;
      margin-bottom: 0;
      width: 32%;

      & + article{
        margin-left: 2%;
      }

      figure{
        position: absolute;
        top: 0;
        left: 0;
      }
    }

  }
}

.catering--stguidon{
  @include breakpoint($g-medium, $no-query: '.oldie') {
    figure{
      float: left;
      margin-right: gutter-span()*2;
    }
  }
}


 /* =============================================================================
   $Custom pages - Match lists
   ========================================================================== */

/*
 * Global
 */

.matchs-list{
  padding-left: 0;
  list-style: none;

  .match-item+.match-item{
    margin-top: rhythm(3/2);
  }
      .match-date{
        border-bottom: 4px double $gray90;
        display: block;
        margin-bottom: rhythm(1/3);
        text-transform: uppercase;
      }
      .match-type{
        margin: 0 0 rhythm(1/3);
        text-transform: uppercase;
      }
      .match-team{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    .match-type-logo,
    .match-team img{
      display: none;
    }
    .match-team{
      float: left;
      width: 40%;
    }
    .match-hour{
      float: left;
      font-weight: bold;
      text-align: center;
      margin-bottom: rhythm(2/3);
      width: 20%;

      &+.match-team{
        text-align: right;
      }
    }
    .match-actions{
      clear: both;
    }


  @include breakpoint($g-medium, $no-query: '.oldie') {
    .match-body{
      background: #f5f5f5;
      display: table;
      table-layout: fixed;
      width: 100%;
    }
    .match-team,
    .match-type-logo,
    .match-team,
    .match-hour,
    .match-actions{
      display: table-cell;
      padding: rhythm(1) gutter-span()/2;
      width: auto;
      vertical-align: middle;
    }
      .match-type-logo{
        border-right: 1px solid $white;
        min-width: 4.5em;
        text-align: center;
      }
      .match-date{
        border: none;
        margin-left: $w-normal;
        font-weight: 600;
      }
      .match-type{
        background-color: $brand_color_1;
        color: $white;
        padding: rhythm(1/3) $w-normal;
        margin-bottom: 0;
      }
      .match-hour{
        @include adjust-font-size-to(24px);
        float: none;

        &+.match-team{
          img{
            margin: 0 0 0 $w-normal;
          }
        }
      }
      .match-team{
        @include adjust-font-size-to(20px);
        float: none;
        // white-space: normal;

        img{
          margin-right: $w-normal;
          display: inline;
        }
     }
    .match-actions{
      border-left: 1px solid $white;
      text-align: right;
    }
  }
  @include breakpoint($g-big, $no-query: '.oldie') {
    .match-team,
    .match-type-logo,
    .match-team,
    .match-hour,
    .match-actions{
      padding-left: gutter-span();
      padding-right: gutter-span();
    }
  }

}

 /*
 * Match list filter
 */


 /* =============================================================================
   $Custom pages - Match detail
   ========================================================================== */

 /*
 * Match resume
 */
.match-header{
  text-align: center;
  margin-bottom: rhythm(3/2);

  .match-date{
    @include adjust-font-size-to(22px);
    background-color: $brand_color_1;
    display: block;
    color: $white;
    padding: rhythm(1/3) gutter-span();
    position: relative;

    &:after{
      @include arrow('top' , $white, 10px);
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      margin-left: -10px;
    }
  }
  .match-body{
    text-align: center;
  }
  .match-team{
    @include inline-block(middle);
    @include adjust-font-size-to(16px);
    margin: rhythm(1) gutter-span() /2;
    font-weight: 600;
    text-transform: uppercase;
    width: 25%;

    @include breakpoint($g-medium, $no-query: '.oldie') {
      @include adjust-font-size-to(24px);
      margin-left: gutter-span();
      margin-right: gutter-span();
    }

    img{
        display: block;
        margin: 0 auto rhythm(1/3);
    }
  }
  .match-infos{
    @include inline-block(middle);
    margin: rhythm(1) gutter-span();
    max-width: 15%;
  }
    .match-hour{
      @include adjust-font-size-to(14px);
      font-weight: 600;

      @include breakpoint($g-medium, $no-query: '.oldie') {
        @include adjust-font-size-to(30px);
      }

    }
    .match-type{
      margin: 0;
    }
}

 /*
 * Tickets list
 */
.table-toolbar{
  @include adjust-font-size-to(22px);
  background-color: #f5f5f5;
  padding: rhythm(2/3) gutter-span();

  .right{
    @include no-select;
    text-align: right;
    float: right;
  }

  .select-all--label{
    text-transform: uppercase;
    input{ margin-left: $w-normal;}
  }
}

.tickets-list .form-item{
  margin-bottom: 0;
}

.t-status{
  text-align: right;
  text-transform: uppercase;
}
  .downloaded .t-status span{
    color: $gray75;
  }
.t-actions{
  max-width: 3em;
  text-align: right;
}
.t-form-actions{
  text-align: right;
}