/* =============================================================================
   $Grid / Singularity grid framework : https://github.com/Team-Sass/Singularity
   ========================================================================== */

// provide a fallback for .oldies
$breakpoint-no-query-fallbacks: true;

$grids: 3;                        // phones portrait
$grids: add-grid(6 at $g-small);  // phones landscape and above
$grids: add-grid(8 at $g-medium); // tablet portrait and above
$grids: add-grid(12 at $g-big);   // tablet landscape, laptops, oldies and above
$gutters: 1/3;

// .cols{
//   @include breakpoint($g-small) {
//     @include column-count(3);
//     @include column-gap($w-normal);
//   }
// }

/* --------------------- Set container max widths ---------------------------------- */

// %grid-container,
.g-container{
  // @include background-grid;
  @include clearfix;
  clear: both;
  margin: 0 auto;
  padding-left: gutter-span() /2;
  padding-right: gutter-span() /2;

  @include breakpoint($g-medium) {
    max-width: 700px;
  }
  // @TODO PROBLEM WITH CONTEXT???
  @include breakpoint($g-big) {
    max-width: 1004px;
  }
  .oldie &{
    width: 1004px;
  }
}

/* -------------------- Two sidebars grid system ----------------------------------- */

.one-sidebar{
  &.sidebar-first{
    main{
      @include breakpoint($g-medium) {
        @include grid-span(5, 4);
      }
      @include breakpoint($g-big, $no-query: '.oldie') {
        @include grid-span(8, 5);
      }
    }

    .sidebar-first{
      @include breakpoint($g-medium) {
        @include grid-span(3, 1, $options: 'left');
      }
      @include breakpoint($g-big, $no-query: '.oldie') {
        @include grid-span(4, 1, $options: 'left');
      }
    }
  }

  &.sidebar-second{
    main{
      @include breakpoint($g-medium, $no-query: '.oldie') {
        @include grid-span(12, 1);
      }
      @include breakpoint($g-big) {
        @include grid-span(8, 1, $options: 'left');
      }
    }

    .sidebar-second{
      @include breakpoint($g-medium) {
        @include grid-span(12, 1, $options: 'clear');
      }
      @include breakpoint($g-big, $no-query: '.oldie') {
        @include grid-span(4, 9);
      }
    }
  }
}

.two-sidebars{
  main{
    @include breakpoint($g-medium) {
      @include grid-span(5, 4);
    }
    @include breakpoint($g-big, $no-query: '.oldie') {
      @include grid-span(6, 1);
    }
  }

  .sidebar-first{
    @include breakpoint($g-medium) {
      @include grid-span(3, 1);
    }
    @include breakpoint($g-big) {
      @include grid-span(3, 7);
    }
  }

  .sidebar-second{
    @include breakpoint($g-medium) {
      @include grid-span(8, 1, $options: 'clear');
    }
    @include breakpoint($g-big) {
      @include grid-span(3, 10);
    }
  }
}
