/* =============================================================================
   $Page Layout
   ========================================================================== */

/*
 * General
 */

.page{
}

/*
 * Header
 */
.site-header{
}

.site-slogan{
}

.page-title{
  @include adjust-font-size-to($xlarge);
  font-weight: 600;
}

/*
 * Main content
 */

/*
 * Footer
 */

.site-footer{
  // padding-left: gutter-span();
  // padding-right: gutter-span();

  .doormat{
  }
}