/* =============================================================================
   $Global
   ========================================================================== */

*{
  @include box-sizing('border-box');
  -o-box-sizing: border-box;
}

body{
  background-color: $page;
  color: $text;
  font-family: $sans-serif-alt;
  -webkit-font-smoothing: antialiased;
}

/* Transitions Only After Page Load */
.preload * {
  @include transition-property(none !important);
}

/*
 * $Common elements
 */

/* Consistent box sizing and appearance */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration{
 display: none;
}

/* overrides input styles for safari mobile / this need to stay at the top */
input[type=search]{
 -webkit-appearance: textfield;
 -webkit-box-sizing: content-box;
}

img, object, embed, video{
  border: 0;
  max-width: 100%;
  _width: 100%;
  vertical-align: middle;
  height: auto;
}

iframe{
  border: 0;
  max-width: 100%;
  _width: 100%;
}

figure{
  margin: 0 0 rhythm(2/3);

  img{
    margin: 0;
    padding: 0;
  }
}

figcaption{
  @include adjust-font-size-to($small);
  color: $gray75;

  a,
  a:hover{
    color: $gray75;
  }

  figure &{
    padding: .273em .455em;
  }
}

img+p{
  margin-top: rhythm(1, 16px);
}

/* skip to content link */
a[href="#main-content"]{
  margin: 0 auto;
  display: block;
}

noscript p,
.chromeframe{
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

/*
 * $Helpers
 */

.btn,
button{
  @include button;

  &.primary{
    @include primary;
  }
  &.secondary{
    @include secondary;
  }
}

.read-more,
.more-link{
  @include more-link;
}

%hidden{
  display: none;
}

%hide-text{
  text-indent: -9999px;
}

[class*="icon-"],
.icon{
  @include inline-block;
}

.list-inline{
  list-style: none;

  li{
    display: inline;
  }
}

/*
 * $Fields
 */

.node{
  .field{
    margin: 0 0 rhythm(1);

    label{
      font-weight: 600;
      margin-bottom: rhythm(1/2);
    }
  }

  .field-collection-view{
    .field{
      margin: 0 0 rhythm(1);

      label{
        @include adjust-font-size-to($tiny);
        display: inline;
        margin-right: $w-big;
      }
    }
  }
  .field-collection-container{
    ul.action-links-field-collection-add{
      float: none;
    }
  }
}

/*
 * $blocks
 */

.block{
  margin-bottom: rhythm(1);
}